---
layout: default
---
<main id="page">
    <div id="top-info" class="warning-text">
        <form method="get" action="/INDEX/" class="search" id="page-search">
            <label>
                <input type="text" name="search" value="<%- search -%>" placeholder="标题关键字">
                <button>搜索</button>
            </label>
        </form>
        <div class="more">此页是虚拟页面<button id="btn-update-cache" type="button">缓存管理</button></div>
    </div>
    <div id="page-result">
        <nav id="site-nav"><span>当前位置:</span><a href="/INDEX/1/">首页</a><% for(let nav of topnav){ %> / <a href="#"><%- nav %></a><% } %></nav>
        <% if(typeof m3u8 != 'undefined'&&m3u8.length){ %>
            <div class="player-content">
                <img src="<%- imgsrc %>">
                <div class="list">
                    <h3>播放</h3>
                    <% var bindex=1;for(let url of m3u8) { %>
                        <button data-url="<%- url %>" onclick="T.toPlay(this);">播放第<%- bindex++ %>集</button>
                    <% } %>
                    <h3>下载</h3>
                    <% var dindex=1;for(let url of m3u8) { %>
                        <button data-url="<%- url %>"  data-name="<%- title %>" onclick="T.downloadTS(this);">下载第<%- dindex++ %>集</button>
                    <% } %>
                </div>
            </div>
            <% if(typeof infotext != 'undefined'){ %>
                <div class="player-info">
                    <%- infotext %>
                </div>
            <% } %>
            <div class="player-video" hidden>
                <video controls></video>
            </div>
        <% }else{ %>
            <div class="result-error"><a href="/index.html"><%- error %></a></div>
        <% } %>
    </div>
</main>